@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove spinner buttons from number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media print {
  .print-border {
    border: 1px solid #8B0000 !important;
    padding: 20px !important;
  }
}